* {
	box-sizing: border-box; 
}

main {
    margin: 4rem auto;
    width: 81%;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    position: relative;
    gap: 3px;

}

main > *{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

