* { 
    box-sizing: border-box; 
}

body { 
    background-color: #c9c7c7;
}

header { 
    display: flex; justify-content: center; 
}

main { 
    display: flex; justify-content: space-around; 
}

main .section1, 
main .section3 {
    background-color: white;
    padding: 20px 40px;
}


main .section1 article { 
    margin-bottom: 1rem; 
}

main .section1 article h3{ 
    margin-bottom: 5px; 
}

main .section1 button {
    background-color: rgb(105, 104, 104);
    font-size: 25px;
    font-style: italic;
    color: rgba(240,248,255,0.7);
    cursor: pointer;
}

main .section3 button {
    font-size: 25px;
    
}

main .section1 #porte_avion{
    padding: 20px 100px;
}

main .section1 #croiseur{
    padding: 20px 80px;
}

main .section1 #sous_marin{
    padding: 20px 60px;
}

main .section1 #torpilleur{
    padding: 20px 40px;
}

main .section1 button:hover { 
    background-color: rgb(146,144,144); 
}

button.active {
    color: white;
}

button.active:disabled { 
    background-color: rgb(175,76,51);
    cursor: default;
    opacity: 1;
}

main .section2 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 3px;
    width: 50%;
    height: 650px;
}

main .section2 .cell {
    width: 100%;
    height: 100%;
    pointer-events: none; 
    opacity: 0.4;
}

main .section2 .cell:not(.disabled) { 
    pointer-events: auto; opacity: 1; 
}

.case-active { 
    background-color: rgb(175,76,51) !important; 
}
