* {
	box-sizing: border-box; 
}

body {
    background-color: rgb(201, 199, 199);
}

main {
    display: flex;
    justify-content: space-around;
}

main .section1{
    height: 600px;
    background-color: white;
    padding: 20px;
    
}

main .section2 {
    margin: 4rem auto;
    width: 50%;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    position: relative;
    gap: 3px;
}

main .section2 > *{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .section2 form button {
    text-align: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

main .section2 form button:hover{
    background-color: blue;
}

